<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.energyharvest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="gui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="gui.MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName="gui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MainActivity" />
        </activity>
        <activity
            android:name="gui.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="gui.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MenuActivity" />
        </activity>
        <activity
            android:name="gui.ClanActivity"
            android:label="@string/title_activity_clan"
            android:parentActivityName="gui.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MenuActivity" />
        </activity>
        <activity
            android:name="gui.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName="gui.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MenuActivity" />
        </activity>
        <activity
            android:name="gui.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName="gui.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MenuActivity" />
        </activity>
        <activity
            android:name="gui.RegistryActivity"
            android:label="@string/title_activity_registry"
            android:parentActivityName="gui.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gui.MenuActivity" />
        </activity>
    </application>

</manifest>
